---
import MainLayout from "../layouts/MainLayout.astro";


const name = 'Astro';
// const title = 'Astro2';





---
<MainLayout title='home'>
	<h1>{name}</h1>
		<p>Welcome to {new Date().toLocaleTimeString()}!</p>
		<p id="current-time">Momento actual real: </p>


		<footer>
		 2000
		</footer>


		<script>
			const footer = document.querySelector('footer') as HTMLElement;
			const currentTimeElement = document.querySelector('#current-time') as HTMLElement;

			 setInterval(() => {
				const currentTime = new Date().toLocaleTimeString();
				currentTimeElement.innerText = `Momento actual real: ${currentTime}`;
			}, 1000);
			
			const currenYear = new Date().getFullYear();
			footer.innerText  = `Year: ${currenYear}`;

			currentTimeElement.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;



		</script>

</MainLayout>

		